@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.center-screen {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

@layer base {
	*,
	body,
	html {
		box-sizing: border-box;
	}
	body,
	html {
		margin: 0;
		padding: 0;
	}
	body {
		position: relative;
		@apply min-h-screen;
	}
}
